.body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-xlg);
}
