.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.section {
  text-align: center;
  margin-inline: auto;
}

.images {
  margin-inline: auto;
  margin-bottom: var(--space-md);
}

.heading {
  margin-bottom: var(--space-md);
}

.description {
  margin-inline: auto;
  margin-bottom: var(--space-lg);
  max-width: 30ch;
}
