.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
}

.button {
  --border-width: 1px;
  height: var(--button-height-lg);
  aspect-ratio: 1 /1;
  border-radius: 100vmax;
  border: var(--border-width) solid var(--neutral-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--neutral-600);
}

.button:disabled {
  opacity: 50%;
  background-color: unset;
  cursor: not-allowed;
}

.circles {
  display: flex;
  align-items: center;
  gap: var(--space-xsm);
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  --widht: 0.75rem;
  --box-shadow: 0 0.25rem 0.25rem 0 hsl(from var(--black) h s l / 20%);
  width: var(--widht);
  aspect-ratio: 1/1;
  background-color: var(--neutral-500);
  border-radius: 100vmax;
  box-shadow: var(--box-shadow);
}

.active {
  --border-width: 0.1875rem;
  background-color: var(--success-500);
  box-shadow: inset 0 0 0 var(--border-width) var(--white), var(--box-shadow);
}
