.backdrop {
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: var(--space-lg);
}

.focusLock {
  width: 100%;
  height: 100%;
}

.autoFocus {
  height: 100%;
  overflow-y: auto;
  display: flex;
}

.dialog {
  max-width: max-content;
  margin: auto;
  overflow-y: auto;
}
