.card {
  --border-width: 0.125rem;
  background-image: var(--modal-background);
  padding: var(--space-lg);
  border-radius: var(--border-radius-md);
  max-width: var(--credit-card-width);
  width: 100%;
  aspect-ratio: 1.59 / 1;
  box-shadow: inset 0 0 0 var(--border-width) var(--section-outline);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card::before,
.card::after {
  --offset: 0.625rem;
  content: '';
  position: absolute;
  border-radius: var(--border-radius-md);
  box-shadow: inset 0 0 0 var(--border-width) var(--section-outline);
  background-image: var(--modal-background);
}

.card::after {
  height: calc(100% - (var(--offset) * 2));
  width: calc(100% + (var(--offset) * 2));
  left: calc(var(--offset) * -1);
  top: var(--offset);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    var(--offset) 100%,
    var(--offset) 0,
    calc(100% - var(--offset)) 0,
    calc(100% - var(--offset)) 100%,
    100% 100%,
    100% 0%
  );
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.owner,
.numbers,
.exp,
.cvv {
  color: var(--neutral-100);
}

.numbers {
  font-size: var(--paragraph-lg);
}

.list {
  display: flex;
  gap: var(--space-xlg);
}

.label {
  color: var(--neutral-400);
}

@media (min-width: 768px) {
  .card::before {
    height: calc(100% - (var(--offset) * 4));
    width: calc(100% + (var(--offset) * 4));
    left: calc((var(--offset) * -1) * 2);
    top: calc(var(--offset) * 2);
    clip-path: polygon(
      0% 0%,
      0% 100%,
      var(--offset) 100%,
      var(--offset) 0,
      calc(100% - var(--offset)) 0,
      calc(100% - var(--offset)) 100%,
      100% 100%,
      100% 0%
    );
  }
}

@media (min-width: 1024px) {
  .numbers {
    font-size: calc(var(--paragraph) * 2);
  }
}
